h1 {
  color: white;
  font-family: 'Slabo 13px', Serif;
}

h3#noContent {
  color: white;
}

button#pdf {
  min-width: 80px;
  max-height: 50px;
  padding-left: 1px;
  padding-right: 1px;
}

button#pdf:hover {
  color: #212529;
}

button#pdf a {
  color: white;
  text-decoration: none;
}

button#pdf a:hover {
  color: #212529;;
  text-decoration: none;
}
