section#resume {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}

div#content {
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  color: black;
  font-family: 'Slabo 13px', Serif;
}

h2.category {
  color: black;
}

h3#noContent {
  color: black;
}

button#pdf {
  min-width: 80px;
  max-height: 50px;
  padding-left: 1px;
  padding-right: 1px;
}

button#pdf:hover {
  color: #212529;
}

button#pdf a {
  color: white;
  text-decoration: none;
}

button#pdf a:hover {
  color: #212529;;
  text-decoration: none;
}
