/* Elements */
h2 {
    font-family: 'Slabo 13px', Serif;
    color: #ffffff;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: justify;
}
/* Classes */
.welcometext {
    font-family: 'Slabo 13px', Serif;
    color: #ffffff;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}
.userhomebtn {
    font-family: 'Lato', sans-serif;
    background-color: #AEBD38;
    padding: 10px;
    color:#ffffff;
    margin: 20px;
    font-weight: 600;
}
.userhomeimg {
    height: 300px;
    text-align: center;
    max-width: 100%;
}