h1 {
  color: white;
}

h3#noContent {
  color: white;
}

.userhomebtn {
  font-family: 'Lato', sans-serif;
  background-color: #AEBD38;
  padding: 10px;
  color:#ffffff;
  margin: 20px;
  font-weight: 600;
}