body {
    background: #68829E;
}
.login-card{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.home-title{
    font-family: 'Slabo 13px', Serif;
    font-size: 64px;
    text-align: center;
    margin: 50px;
    color: white
}
.home-intro{
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 20px;
    text-align: center;
    margin: 50px;
    color: white
}
.login-header{
    font-family: 'Slabo 13px', Serif;
    font-size: 24px;
}
.login-input{
    margin-bottom: 16px;
}
.login-btn{
    background-color: #AEBD38;
}
.signup-redirect{
    margin-top: 10px;
}